.container {
    background-color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 0 20%;
  }
  
  .title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 72px;
    letter-spacing: -0.75px;
    margin-bottom: 30px;
    line-height: 1.1;
  }
  
  .container img {
    width: 500px;
  }