@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Roboto&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}

header {
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background-color: #070707;
  height: 60px;
  border-bottom: #383838 solid 1px;
}

.navbar h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.container {
  background-color: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 0 20%;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 72px;
  letter-spacing: -0.75px;
  margin-bottom: 20px;
}

.container img {
  width: 500px;
}

.button {
  height: 50px;
  width: 170px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #000000;
  transition: 200ms;
  cursor: pointer;
  color: #fff;
}

.button-border {
  width: 170px;
  padding: 1rem;
  border-radius: 12px;
  background: linear-gradient(to bottom right, #ff0099, #0088c3);
  padding: 3px;
}

.button:hover {
  background-color: #ffffff00;
  transition: 200ms;
}